.container{
  /*margin:;*/
  width:100%;
}

a{
  color:#0077b5;
  text-decoration: none;
}

.contact{
 text-align: center;
}

.contact a{
  margin:10px;
  right:0;
  text-align: right;
}

.first{
  background-color: #4CAF50;
  color:white;
  height:100vh;
  /*width:50%;*/
  position: relative;
  text-align: center;
}

.first p{
  font-size: 14pt;
  text-align: left;
}

.second{
  background-color: #f44336;
  color:white;
  height:100vh;
  /*width:50%;*/
  position: relative;
  overflow-y: scroll;
}

.inner{
  position:relative;
  width:70%;
  height:auto;
  margin: 0 auto;
  transform: translateX(-50%);
  left: 40%;
  top: 15%;
}

#me p{
  background-color: #4CAF50;
}

#me h1{
  background-color: #4CAF50;
}

#me img{
  border-radius:50%;
/*  border:10px #8BC34A solid;
*/  width:35%;
  height:auto;

}

/************/
@media only screen annd (max-device-width: 768px) {
  h1{
    font-size: 45pt;
  }

  p{
    font-size: 24pt;
  }

  .second{
    height: auto;
    overflow-y: none;
  }
}
/************/

h1{
  font-size: 30pt;
}

p{
  font-size: 16pt;
}

.second .inner{
  left: 50%;
  width:70%;
  top:10%;
  transform: translateX(-70%);
}

.language{
  z-index: -1;
  font-size: 21pt;
  position: absolute;
}

/***************************************/

.portfolio-image{
  height:auto;
  width:50vh;
  /*margin:0 auto;*/
  left:50%;
  transform: translateX(-25vh);
  text-align: center;
  position: relative;
  border-radius:5px;
}

.android{
  height: 40vh;
  width:auto;
  margin: 0 auto;
  align: center;
  left:50%;
  transform: translateX(-50%);
  position: relative;

}

#projects h3{
  text-align: center;
}

#projects p{
  font-size: 12pt;
}

 .ghlink{
  text-align: right;
  /*position: relative;*/
  /*right:0;*/
}

.item-link{
  width:80px;
  float:left;
}
