<section id="projects">
<div class="container">
	<h2>Personal Projects</h2>

	<div class="row">
		<h3>Newscaper</h3>
		<div class="col-sm-6 ">
			<img height="400px" src="/static/img/pwa.gif" alt="newscaper" />
		</div>
		<div class="blogpost col-sm-6">
			<p>Google Now is great, I can swipe left on my phone's home screen and see the latest posts from blogs and news sites I follow. Sadly I need to be online to enjoy this which doesn't bode well with my offline Subway commute to work. So I decided to build an app to allow me to sync the latest headlines from various news outlets to read offline on the train.</p>
			<p>Since this is a Progressive Web App, feel free to add it to your home screen! No app store required on your phone!</p>
		</div>
		<div class="row">
			<div class="col-sm-3 text-xs-left">
				<a href="https://newscraper.surge.sh/" class="btn btn-primary">Visit</a>
			</div>
			<br class="d-none d-block-xs">
			<div class="col-sm-3 text-xs-right">
				<a href="https://github.com/fizal619/newscraper-pwa" class="btn btn-success">Read More</a>
			</div>
		</div>
	</div>

	<div class="row">
		<h3>RGB Invaders</h3>
		<div class="col-sm-6">
			<img width="100%" src="https://i.imgur.com/Al6s7gO.gif" alt="newscaper" />
		</div>
		<div class="blogpost col-sm-6">
			<p>Putting a personal twist on the classic space invaders I loved growing up. As you kill the alien invaders, their respective colors would increment the colorbar/meter. Try as best you can to match the goal color that's randomly generated, or just best your last score.</p>
		</div>
		<div class="row">
			<div class="col-sm-3 text-xs-left">
				<a href="https://fizal.me/rgb-invaders" class="btn btn-primary">Visit</a>
			</div>
			<br class="d-none d-block-xs">
			<div class="col-sm-3 text-xs-right">
				<a href="https://github.com/fizal619/rgb-invaders" class="btn btn-success">Read More</a>
			</div>
		</div>
	</div>


</div>
</section>
