@font-face {
  font-family: pixel;
  src: url(/assets/ARCADECLASSIC.TTF);
}

@font-face {
  font-family: minecraft;
  src: url(/assets/fonts/minecraft.ttf);
}

body {
  font-family: minecraft;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 4px;
  background-color: peachpuff;
  color: #0a0a0a;
}

h1 {
  font-size: 3rem;
  font-family: pixel;
}

.portrait {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.cover {
  background-image: url(/assets/imgs/cover.png);
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.button {
  background-color: #0a0a0a;
  width: 250px;
}

.button.gmaps {
  background-color: lightskyblue;
  color: #0a0a0a;
  width: 200px;
}

.page {
  display: none;
  padding: 0 50px;
}

.page.active {
  display: block;
}

.button.active {
  background-color: whitesmoke;
  color: black;
}

@media only screen and (max-width: 600px) {

  .page {
    height: 50vh;
    padding: 20px 5px;
    overflow-y: auto;
  }

  .innerPage {
    position: relative;
    margin-top: 50%;
    transform: translate(0, -50%);
  }

}